body {
  background-color: #5f7173;
}
.container-musicplayer {
  background-color: aliceblue;
  align-items: center;
  border-radius: 5%;
  width: 600px;
  height: 100%;
}
img {
  border-radius: 5%;
  width: 500px;
  height: auto;
  margin-top: 1.5cm;
}
.track-name {
}
.artist-name {
}

.progressbar{
    width: 50%;
    height: 5px;
    background-color: black;
    align-self: center;    

}

.audio-controls {
  align-content: center;
  margin-top: -0.8cm;
}

.button {
  background: none;
  border: none;
  margin-top: 1cm;
  margin-inline: .7cm;

}

.lyrics {
  margin-top: 1cm;
  margin-bottom: -0.8cm;
}

.buttonlyrics {
  margin-top: 1cm;
}
