body {
  background-color: #5f7173;

}
.container-musicplayer {
  background-color: aliceblue;
  align-items: center;
  border-radius: 5%;
  width: 600px;
  height: 100%;
}
img {
  border-radius: 5%;
  width: 500px;
  height: auto;
  margin-top: 1.5cm;
}
.track-name {
}
.artist-name {
}
.audio-controls {
    align-content: center;
    margin-top: -.8cm;
}
.lyrics {
}

.buttonlyrics {
  margin-top: 1cm;
}